.clock > .react-time-picker__wrapper {
  border: 1px solid #e4e4e4;
  border-radius: var(--chakra-radii-lg);
  padding: 20px 16px 20px 16px;
}

.clock > .react-time-picker__wrapper > .react-time-picker__inputGroup {
    font-family: var(--chakra-fonts-body);
    font-weight: 600;
}

.clock > .react-time-picker__wrapper > .react-time-picker__inputGroup > .react-time-picker__inputGroup__divider {
   padding-right: 2px;
   padding-left: 2px;
}

.clock > .react-time-picker__wrapper > .react-time-picker__inputGroup > input {
    height: 40px;
    min-width: 10px;
}
